<h1>Angular</h1>

<div class="container">
    <app-new-course-form></app-new-course-form>
</div>

<div class="container">
    <signup-form></signup-form>
</div>

<div class="container">
    <app-course-form></app-course-form>
</div>

<div class="container">
    <app-contact-form></app-contact-form>
</div>

<app-zippy title="hello world">
    qdsgqsqhr
</app-zippy>
<app-zippy title="another title">
    This is a body text that can fold. 
</app-zippy>

<input type="text" [appInputFormat]="'lowcase'"> <br/>

<button class="btn btn-primary" (click)="onAdd()">Add</button>
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>

<ul>
    <!-- trackBy <3 -->
    <li *ngFor="let course of courses; index as i; even as isEven; trackBy: trackCourse">
        index in for: {{i}} name-> {{course.name}} <span *ngIf='isEven'>[EVEN]</span>
        <button (click)="onRemove(course)" class="btn btn-danger">Remove</button>
        <button (click)="onChange(course)" class="btn btn-warning">CHANGE</button>
        <button (click)="onChangeFor(course)" class="btn btn-warning">CHANGE FOR</button>
    </li>
</ul>

<!-- ng switch -->
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a href="#" (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"> <a href="#" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view</div>
    <div *ngSwitchCase="'list'">list view</div>
    <div *ngSwitchDefault="'list'">Default</div>
</div>


<!-- non descruvtives directives -->
<div [hidden]="courses.length > 0">
    Courses List
</div>
<div [hidden]="courses.length == 0">
    No courses yet
</div>
<!-- destruvtives directives -->
<div *ngIf="courses.length > 0; then coursesList else noCourses "></div>
<ng-template #coursesList>
    Courses List
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>

<!-- component API -->
<app-like 
    [likeCount]="tweet.likesCount"
    [isLike?]="tweet.isLiked">
</app-like>

<app-like></app-like>

<courses></courses>

<!-- Basic component -->
<authors></authors>



<div>
    <favorite></favorite>
    <favorite [fav]="true"></favorite>
    <favorite></favorite>
    <!-- event creation -->
    <favorite [fav]="true" (change)="onFourthStar($event)"></favorite>
    <favorite></favorite>
</div>