<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="password">Old password:</label>
        <input type="password" formControlName="password" class="form-control">
        <div *ngIf="showErrors(password)" class="alert alert-danger">
            <div *ngIf="password.errors.required">Old password required</div>
            <div *ngIf="password.errors.isInValid">Wrong password</div>
        </div>
        <div *ngIf="password.pending" class="alert alert-warning">
            Checking your password... 
        </div>
    </div>


    <div formGroupName="confirmation">
        <div class="form-group">
            <label for="newPassword">New password:</label>
            <input type="password" formControlName="newPassword" class="form-control">
            <div *ngIf="showErrors(newPassword)" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">New required password</div>
                <div *ngIf="newPassword.errors.minlength">Needs to be more that 6 chars </div>
            </div>
        </div>
    
        <div class="form-group">
            <label for="passwordConfirmation">Password confirmation:</label>
            <input type="password" (keyup)="check(passwordConfirmation)" formControlName="passwordConfirmation" class="form-control">
            <div *ngIf="showErrors(passwordConfirmation)" class="alert alert-danger">
                <div *ngIf="passwordConfirmation.errors.required">New required password confirmation</div>
                <div *ngIf="passwordConfirmation.errors.notMatch">New password and password confirmation does not match</div>
            </div>
        </div>
    </div>

    <button [disabled]="form.invalid" class="btn btn-primary">
        change password
    </button>
</form>
<hr/>